Repository boostcamp-2020/Project04-C-Whale, pull requests merged in 2020-11, with the labels that each got.

#14 #12 , #13 기본 환경 설정
  server/.eslintrc.js
  server/.gitignore
  server/.prettierrc.json
  server/.sample.env
  server/package-lock.json
  server/package.json
  server/src/app.js
  server/src/bin/www
  server/src/config/db-config.js
  server/src/loaders/express.js
  server/src/loaders/index.js
  server/src/loaders/sequelize.js
  server/src/models/alarm.js
  server/src/models/associations.js
  server/src/models/bookmark.js
  server/src/models/comment.js
  server/src/models/index.js
  server/src/models/label.js
  server/src/models/priority.js
  server/src/models/project.js
  server/src/models/section.js
  server/src/models/task.js
  server/src/models/user.js
  server/src/routes/index.js
Labels: BE, DB, PairProgramming

#18 #13 sequlize model 리팩토링
  .github/ISSUE_TEMPLATE/discussion.md
  server/src/models/index.js
Labels: BE

#17 Sequelize cli 설정, bin/www 제거
  server/.eslintrc.js
  server/.sequelizerc
  server/package.json
  server/src/app.js
  server/src/bin/www
  server/src/config/db-config.js
  server/src/loaders/index.js
  server/src/loaders/sequelize.js
  server/src/models/index.js
  server/src/models/seeders/20201119144650-user.js
Labels: BE, DB

#15 #12 , #13 기본 환경 설정 수정 및 jest 추가
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
  server/src/app.js
  server/src/config/db-config.js
  server/src/loaders/express.js
  server/src/models/alarm.js
  server/src/models/bookmark.js
  server/src/models/comment.js
  server/src/models/label.js
  server/src/models/priority.js
  server/src/models/project.js
  server/src/models/section.js
  server/src/models/task.js
  server/src/models/user.js
  server/test/api.sample.test.js
Labels: BE, DB

#19 merge 이후 코드 에러 해결
  server/.eslintrc.js
  server/package.json
Labels: BE, bug

#20 eslint alias 문제 해결, 테스트코드 샘플 작성
  server/.eslintrc.js
  server/package.json
  server/src/app.js
  server/src/loaders/index.js
  server/src/models/seeders/20201119144650-user.js
  server/src/routes/index.js
  server/test/api.sample.test.js
Labels: BE

#59 #53 메인 화면 Navigation Bar 구현 및 TaskList 구조 설계
  iOS/.DS_Store
  iOS/.gitignore
  iOS/HalgoraeDO.xcodeproj/project.pbxproj
  iOS/HalgoraeDO.xcodeproj/project.xcworkspace/xcuserdata/os.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskBoardViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListInteractor.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListModels.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListPresenter.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListRouter.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListWorker.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskCollectionViewListCell.swift
  iOS/HalgoraeDO/Sources/Scenes/ViewController.swift
  iOS/HalgoraeDO/Sources/Views/Base.lproj/Main.storyboard
Labels: :whale: iOS

#60 #53 더보기 action sheet 추가
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListViewController.swift
  iOS/HalgoraeDO/Sources/Views/Base.lproj/Main.storyboard
Labels: :whale: iOS

#62 Test 환경설정 및 test code에 따른 label post API 구현
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
  server/src/loaders/error-handler.js
  server/src/loaders/express.js
  server/src/loaders/index.js
  server/src/models/associations.js
  server/src/models/index.js
  server/src/models/user.js
  server/src/routes/index.js
  server/src/routes/label.js
  server/src/routes/user.js
  server/src/utils/handler.js
  server/test/api.sample.test.js
  server/test/expected-data.js
  server/test/label.api.test.js
  server/test/sequelize-mock.js
  server/test/user.api.test.js
Labels: API, BE, PairProgramming

#63 #51 TaskList UI 작업
  iOS/HalgoraeDO.xcodeproj/project.pbxproj
  iOS/HalgoraeDO/Sources/Models/Task.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListInteractor.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListPresenter.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListWorker.swift
  iOS/HalgoraeDO/Sources/Views/Base.lproj/Main.storyboard
Labels: :whale: iOS

#65 naver oauth login API 구현
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
  server/src/controllers/user.js
  server/src/loaders/error-handler.js
  server/src/loaders/express.js
  server/src/loaders/index.js
  server/src/passport/index.js
  server/src/passport/naver-strategy.js
  server/src/routes/user.js
  server/src/utils/auth.js
Labels: API, BE

#66 sequelize mock 제거, test seed 생성
  server/src/loaders/sequelize.js
  server/src/models/seeders/20201119144650-user.js
  server/src/models/seeders/index.js
  server/test/expected-data.js
  server/test/label.api.test.js
  server/test/sequelize-mock.js
  server/test/test-seed.js
  server/test/user.api.test.js
Labels: BE

#64 작업 생성 API 구현
  server/package.json
  server/src/controllers/task.js
  server/src/loaders/sequelize.js
  server/src/routes/index.js
  server/src/routes/task.js
  server/src/utils/date.js
  server/test/task.api.test.js
Labels: API, BE

#67 #51 List 뷰 기본 UI 작업 완료
  iOS/HalgoraeDO.xcodeproj/project.pbxproj
  iOS/HalgoraeDO/Resources/Assets.xcassets/check.imageset/Contents.json
  iOS/HalgoraeDO/Resources/Assets.xcassets/check.imageset/check .png
  iOS/HalgoraeDO/Resources/Assets.xcassets/check_empty.imageset/Contents.json
  iOS/HalgoraeDO/Resources/Assets.xcassets/check_empty.imageset/check_empty.png
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskCollectionViewListCell.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskContentConfigure.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskContentView.swift
  iOS/HalgoraeDO/Sources/Views/Base.lproj/Main.storyboard
  iOS/HalgoraeDO/Sources/Views/RoundButton.swift
Labels: :whale: iOS

#68 프로젝트 API 구현
  server/package.json
  server/src/controllers/project.js
  server/src/models/project.js
  server/src/models/section.js
  server/src/routes/index.js
  server/src/routes/project.js
  server/src/utils/handler.js
  server/src/utils/today-start-end.js
  server/test/project.api.test.js
  server/test/test-seed.js
Labels: API, BE

#69 유저 정보 조회 API 구현
  server/package-lock.json
  server/package.json
  server/src/controllers/user.js
  server/src/passport/index.js
  server/src/passport/jwt-strategy.js
  server/src/routes/user.js
  server/src/utils/auth.js
  server/test/user.api.test.js
Labels: API, BE

#77 editing 구현 및 테스트 코드 작성
  iOS/HalgoraeDO.xcodeproj/project.pbxproj
  iOS/HalgoraeDO.xcodeproj/project.xcworkspace/xcuserdata/os.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/HalgoraeDO.xcodeproj/xcshareddata/xcschemes/HalgoraeDO.xcscheme
  iOS/HalgoraeDO.xcodeproj/xcshareddata/xcschemes/TaskListTests.xcscheme
  iOS/HalgoraeDO.xcodeproj/xcuserdata/os.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/HalgoraeDO/Sources/Models/Task.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListDisplayLogic.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListInteractor.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListPresenter.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListWorker.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskCollectionViewListCell.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskContentConfigure.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskContentView.swift
  iOS/HalgoraeDO/Sources/Views/Base.lproj/Main.storyboard
  iOS/TaskListTests/Info.plist
  iOS/TaskListTests/Mocks/TaskListDisplaySpy.swift
  iOS/TaskListTests/Mocks/TaskListPresenterSpy.swift
  iOS/TaskListTests/TaskListInteractorTests.swift
  iOS/TaskListTests/TaskListPresenterTests.swift
  iOS/TaskListTests/TaskListWorkerTests.swift
Labels: :whale: iOS

#75 vue-cli를 이용한 vue-js 초기 세팅
  client/.browserslistrc
  client/.editorconfig
  client/.eslintrc.js
  client/.gitignore
  client/README.md
  client/babel.config.js
  client/jest.config.js
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/src/App.vue
  client/src/assets/logo.png
  client/src/components/HelloWorld.vue
  client/src/main.js
  client/src/router/index.js
  client/src/store/index.js
  client/src/views/About.vue
  client/src/views/Home.vue
  client/tests/unit/example.spec.js
Labels: FE

#74 라벨 API 구현
  server/src/controllers/label.js
  server/src/models/label.js
  server/src/routes/label.js
  server/test/label.api.test.js
  server/test/response-status.js
  server/test/test-seed.js
Labels: API, BE

#80 프로젝트, 작업 API 구현
  server/src/controllers/project.js
  server/src/controllers/task.js
  server/src/routes/project.js
  server/src/routes/task.js
  server/src/utils/async-try-catch.js
  server/test/project.api.test.js
  server/test/task.api.test.js
  server/test/test-seed.js
Labels: API, BE

#79 #52 Board 뷰 기본 UI 작업 완료
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskBoardViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskContentView.swift
  iOS/HalgoraeDO/Sources/Views/Base.lproj/Main.storyboard
Labels: :whale: iOS

#82 vuetify 세팅
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/App.vue
  client/src/assets/logo.svg
  client/src/components/HelloWorld.vue
  client/src/main.js
  client/src/plugins/vuetify.js
  client/src/views/Home.vue
  client/vue.config.js
Labels: FE

#83 naver oauth login 객체 구조분해 error 수정
  server/src/controllers/user.js
Labels: BE, bug

#85 popover 모달 추가
  iOS/HalgoraeDO.xcodeproj/project.pbxproj
  iOS/HalgoraeDO/Sources/Common/Popover/PopoverViewController.swift
  iOS/HalgoraeDO/Sources/Common/Popover/PopoverViewModelType.swift
  iOS/HalgoraeDO/Sources/Models/Priority.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskBoardViewController.swift
  iOS/HalgoraeDO/Sources/Utils/UIImage+scaled.swift
  iOS/HalgoraeDO/Sources/Views/Base.lproj/Main.storyboard
Labels: :whale: iOS

#88 로그인 화면 UI만 구현
  .gitignore
  client/.env.sample
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/src/App.vue
  client/src/api/user.js
  client/src/assets/halgoraedo.png
  client/src/assets/naverlogin.png
  client/src/components/HelloWorld.vue
  client/src/components/common/Header.vue
  client/src/components/project/index.js
  client/src/components/task/index.js
  client/src/main.js
  client/src/plugins/vuetify.js
  client/src/router/index.js
  client/src/store/index.js
  client/src/views/About.vue
  client/src/views/Home.vue
  client/src/views/Login.vue
  client/src/views/Project.vue
  client/src/views/Task.vue
  client/src/views/Today.vue
  client/vue.config.js
Labels: FE

#86 [iOS] feat: 보드로 보기 구현
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskBoardViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListViewController.swift
  iOS/HalgoraeDO/Sources/Views/Base.lproj/Main.storyboard
Labels: :whale: iOS

#89 서버 배포 준비
  client/src/App.vue
  server/package-lock.json
  server/package.json
  server/src/controllers/project.js
  server/src/passport/naver-strategy.js
  server/src/utils/async-try-catch.js
  server/src/utils/auth.js
Labels: BE, FE, PairProgramming

#92 네아로 URL 수정
  client/src/views/Login.vue
Labels: FE

#93 #54 작업 추가 UI구현
  iOS/HalgoraeDO.xcodeproj/project.pbxproj
  iOS/HalgoraeDO/Sources/Models/Priority.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskAddViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskBoardViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskCollectionViewListCell.swift
  iOS/HalgoraeDO/Sources/Views/Base.lproj/Main.storyboard
Labels: :whale: iOS

#94 데모준비
  iOS/HalgoraeDO.xcodeproj/project.pbxproj
  iOS/HalgoraeDO/Sources/Scenes/Menu/MenuViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListViewController.swift
  iOS/HalgoraeDO/Sources/Views/Base.lproj/Main.storyboard
Labels: :whale: iOS

#95 dev_iOS 작업 추가
  .DS_Store
  iOS/.gitignore
  iOS/HalgoraeDO.xcodeproj/project.pbxproj
  iOS/HalgoraeDO.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/HalgoraeDO.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/HalgoraeDO.xcodeproj/project.xcworkspace/xcuserdata/os.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/HalgoraeDO.xcodeproj/xcshareddata/xcschemes/HalgoraeDO.xcscheme
  iOS/HalgoraeDO.xcodeproj/xcshareddata/xcschemes/TaskListTests.xcscheme
  iOS/HalgoraeDO.xcodeproj/xcuserdata/os.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/HalgoraeDO/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/HalgoraeDO/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/HalgoraeDO/Resources/Assets.xcassets/Contents.json
  iOS/HalgoraeDO/Resources/Assets.xcassets/check.imageset/Contents.json
  iOS/HalgoraeDO/Resources/Assets.xcassets/check.imageset/check .png
  iOS/HalgoraeDO/Resources/Assets.xcassets/check_empty.imageset/Contents.json
  iOS/HalgoraeDO/Resources/Assets.xcassets/check_empty.imageset/check_empty.png
  iOS/HalgoraeDO/Sources/Common/Popover/PopoverViewController.swift
  iOS/HalgoraeDO/Sources/Common/Popover/PopoverViewModelType.swift
  iOS/HalgoraeDO/Sources/Entry/AppDelegate.swift
  iOS/HalgoraeDO/Sources/Entry/Base.lproj/LaunchScreen.storyboard
  iOS/HalgoraeDO/Sources/Entry/SceneDelegate.swift
  iOS/HalgoraeDO/Sources/Models/Priority.swift
  iOS/HalgoraeDO/Sources/Models/Task.swift
  iOS/HalgoraeDO/Sources/Scenes/Menu/MenuViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskAddViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskBoardViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListDisplayLogic.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListInteractor.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListModels.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListPresenter.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListRouter.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListWorker.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskCollectionViewListCell.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskContentConfigure.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskContentView.swift
  iOS/HalgoraeDO/Sources/Utils/UIImage+scaled.swift
  iOS/HalgoraeDO/Sources/Views/Base.lproj/Main.storyboard
  iOS/HalgoraeDO/Sources/Views/RoundButton.swift
  iOS/HalgoraeDO/Supporting Files/Info.plist
  iOS/TaskListTests/Info.plist
  iOS/TaskListTests/Mocks/TaskListDisplaySpy.swift
  iOS/TaskListTests/Mocks/TaskListPresenterSpy.swift
  iOS/TaskListTests/TaskListInteractorTests.swift
  iOS/TaskListTests/TaskListPresenterTests.swift
  iOS/TaskListTests/TaskListWorkerTests.swift
Labels: :whale: iOS

#99 Models 구조 개선 및 선택 로직 수정
  iOS/HalgoraeDO.xcodeproj/project.pbxproj
  iOS/HalgoraeDO.xcodeproj/project.xcworkspace/xcuserdata/os.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/HalgoraeDO/Sources/Models/Priority+PopoverViewModelType.swift
  iOS/HalgoraeDO/Sources/Models/Priority.swift
  iOS/HalgoraeDO/Sources/Models/Task.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskBoardViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListDisplayLogic.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListInteractor.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListModels.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListPresenter.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListWorker.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskCollectionViewListCell.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskContentView.swift
  iOS/TaskListTests/Mocks/TaskListDisplaySpy.swift
  iOS/TaskListTests/TaskListInteractorTests.swift
  iOS/TaskListTests/TaskListWorkerTests.swift
Labels: :whale: iOS

#122 [재요청] Models 구조 개선 및 선택 로직 수정
  iOS/HalgoraeDO.xcodeproj/project.pbxproj
  iOS/HalgoraeDO.xcodeproj/project.xcworkspace/xcuserdata/os.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/HalgoraeDO/Sources/Models/Priority+PopoverViewModelType.swift
  iOS/HalgoraeDO/Sources/Models/Priority.swift
  iOS/HalgoraeDO/Sources/Models/Task.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskBoardViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListDisplayLogic.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListInteractor.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListModels.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListPresenter.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListViewController.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/TaskListWorker.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskCollectionViewListCell.swift
  iOS/HalgoraeDO/Sources/Scenes/TaskList/Views/TaskContentView.swift
  iOS/TaskListTests/Mocks/TaskListDisplaySpy.swift
  iOS/TaskListTests/TaskListInteractorTests.swift
  iOS/TaskListTests/TaskListWorkerTests.swift
Labels: :whale: iOS

#98 JWT 변경에 따른 Test code 수정
  client/package.json
  server/package.json
  server/test/label.api.test.js
  server/test/user.api.test.js
Labels: BE

#125 프론트 페어프로그래밍 - 개별 프로젝트 화면 초기 구성
  client/package.json
  client/src/App.vue
  client/src/api/myAxios.js
  client/src/api/project.js
  client/src/components/menu/index.vue
  client/src/components/project/index.js
  client/src/components/project/index.vue
  client/src/store/auth.js
  client/src/store/index.js
  client/src/store/menu.js
  client/src/store/project.js
  client/src/views/Home.vue
  client/src/views/Project.vue
  server/package.json
  server/src/controllers/project.js
  server/src/loaders/express.js
  server/src/models/seeders/index.js
  server/src/routes/project.js
Labels: FE, PairProgramming
